<div class="aligned-center">
  <h2>Войти</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <%= f.label :login, "Логин" %><br />
      <%= f.text_field :login, class: "form-control", autofocus: true %>
    </div>

    <div class="form-group">
      <%= f.label :password, "Пароль" %><br />
      <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="checkbox">
        <label>
        <%= f.check_box :remember_me, required: false, as: :boolean %> Запомнить
      </label>
      </div>
    <% end -%>

    <div class="form-group">
      <%= f.submit "Войти", class: "btn btn-lg btn-primary" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
