<!DOCTYPE html>
<html>
<head>
  <title>LightITTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-fixed-top orange-gradient" role="navigation">
    <ul class="nav navbar-nav navbar-left">
        <li><%= link_to 'Главная', root_path %></li>
        <li><%= link_to 'Контакты', contacts_index_path %></li>
    </ul>
    <% if user_signed_in? %>
      <ul class="nav navbar-nav pull-right">
        <li>
          <%= link_to  edit_user_registration_path do %>
            <%= image_tag(current_user.avatar.url(:thumb), class: "avatar") %>
            <%= current_user.display_name %>
          <% end -%>
        </li>
        <li><%= link_to 'Выйти', destroy_user_session_path, :method => :delete %></li>
      </ul>
    <% else %>
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to 'Регистрация', new_user_registration_path %></li>
        <li><%= link_to 'Войти', new_user_session_path %></li>
      </ul>
    <% end %>
  </header>

  <div class="main-container">
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end -%>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end -%>
    <%= yield %>
  </div>

  <footer class="navbar navbar-fixed-bottom orange-gradient">
    <div>
      <h6 class="navbar-text navbar-left">&copy;2015 
         <a href="https://ua.linkedin.com/in/alexaveryanov" class="navbar-link">Александр Аверьянов</a>
      </h6>
   </div>
  </footer>
</body>
</html>
