<div class="aligned-center">
  <h2>Регистрация</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.label :last_name, "Фамилия" %><br />
      <%= f.text_field :last_name, class: "form-control", autofocus: true %>
    </div>

    <div class="form-group">
      <%= f.label :first_name, "Имя" %><br />
      <%= f.text_field :first_name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :login, "Логин" %><br />
      <%= f.text_field :login, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password, "Пароль" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> символов минимум)</em>
      <% end %><br />
      <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, "Подтверждение пароля" %><br />
      <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off" %>
    </div>

    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :birthdate, "Дата рождения" %><br />
      <%= f.date_field :birthdate, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :phone, "Телефон" %><br />
      <%= f.text_field :phone, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= recaptcha_tags %>
    </div>

    <div class="form-group">
      <%= f.submit "Регистрация", class: "btn btn-lg btn-primary" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
